@model List<AllReadBooksModel>
@{
    int row = 1;
}

<script src="https://kit.fontawesome.com/af2a249344.js" crossorigin="anonymous"></script>

<div class="text-center">
	<h1>Wszystkie moje książki</h1>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tytuł</th>
            <th scope="col">Autor</th>
            <th scope="col">Gatunek</th>
            <th scope="col">Ocena</th>
            <th scope="col">Rozpoczęto</th>
            <th scope="col">Zakończono</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach(AllReadBooksModel item in Model)
        {
            DateTime startDate = (DateTime)item.StartDate;
            string finishDateString = "";
            if(item.FinishDate != null)
            {
                DateTime finishDate = (DateTime)item.FinishDate;
                finishDateString = finishDate.ToString("dd.MM.yyyy");                
            }

            <tr>
                <th scope="row">@row</th>
                <td>@item.Title</td>
                <td>@item.Author</td>
                <td>@item.Genre</td>
                <td>@item.Rating</td>
                <td>@startDate.ToString("dd.MM.yyyy")</td>
                <td>@finishDateString</td>
                <td class="btn-group d-flex" role="group" aria-label="Basic example">
                    <a asp-controller="Authorized" asp-action="BookActionDetails" asp-route-actionId="@item.Id" class="btn btn-primary btn-sm" class="btn btn-primary btn-sm w-100"><i class="fa-solid fa-info fa-xl"></i></a>
                    <a asp-controller="Authorized" asp-action="BookActionDetails" asp-route-actionId="@item.Id" class="btn btn-primary btn-sm" class="btn btn-primary btn-sm w-100"><i class="fa-solid fa-pen fa-xl"></i></a>
                    <a asp-controller="Authorized" asp-action="DeleteFromMyBooks" asp-route-id="@item.Id" class="btn btn-primary btn-sm" class="btn btn-primary btn-sm w-100"><i class="fa-solid fa-trash fa-xl"></i></a>
                </td>
            </tr>
            row++;
        }
    </tbody>
</table>

