@model List<AllReadBooksModel>
@{
    int row = 1;
}
<div class="text-center">
	<h1>Wszystkie moje książki</h1>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tytuł</th>
            <th scope="col">Autor</th>
            <th scope="col">Gatunek</th>
            <th scope="col">Ocena</th>
            <th scope="col">Rozpoczęto</th>
            <th scope="col">Zakończono</th>
            <th scope="col">Szczegóły</th>
        </tr>
    </thead>
    <tbody>
        @foreach(AllReadBooksModel item in Model)
        {
            DateTime startDate = (DateTime)item.StartDate;
            string finishDateString = "";
            if(item.FinishDate != null)
            {
                DateTime finishDate = (DateTime)item.FinishDate;
                finishDateString = finishDate.ToString("dd.MM.yyyy");                
            }

            <tr>
                <th scope="row">@row</th>
                <td>@item.Title</td>
                <td>@item.Author</td>
                <td>@item.Genre</td>
                <td>@item.Rating</td>
                <td>@startDate.ToString("dd.MM.yyyy")</td>
                <td>@finishDateString</td>
                <td><a asp-controller="Authorized" asp-action="BookActionDetails" asp-route-actionId="@item.Id" class="btn btn-primary btn-sm">Szczegóły</a></td>
            </tr>
            row++;
        }
    </tbody>
</table>

