@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int row = 1;
}
@model BookDetailsModel

<script src="https://kit.fontawesome.com/44679a4f01.js" crossorigin="anonymous"></script>


<div class="text-center">
    <div class="title-line-container">
        <span class="title-line"></span>
        <h1 class="d-inline-block">@Model.Title</h1>
        <span class="title-line"></span>
    </div>
    <h3 class="d-block">@Model.Author</h3>
    <h4 class="d-block">@Model.Genre</h4>

    <div class="d-flex justify-content-center align-items-center">
        @if (Model.CanEdit)
        {
            <a class="btn btn-primary btn mt-1 mx-1" asp-action="EditBook" asp-route-id="@Model.Id"><i class="fa-solid fa-pen"></i></a>
        }        
        @if (Model.CanDelete)
        {
            <a class="btn btn-primary btn mt-1 mx-1" asp-action="DeleteBook" asp-route-bookId="@Model.Id"><i class="fa-solid fa-trash"></i></a>            
        }

    </div>

    <div class="mt-3" style="border-bottom: 2px solid #c64a16;"></div>
</div>


<h2 class="text-center mt-3">Wydania</h2>


<div class="d-flex justify-content-center align-items-center">
    <a class="btn btn-primary btn-lg mt-1" asp-action="AddNewEdition" asp-route-id="@Model.Id">Dodaj wydanie</a>
</div>


<style>
    .card{
        border-color: #c64a16;
    }
</style>

<div class="container text-center col-lg-7 mt-3">
    <div class="row row-cols-1 row-cols-md-3 justify-content-center">
        @foreach (EditionModel edition in Model.Editions)
        {
            <div class="col mb-4 p-1">
                <div class="card h-100">
                    <div class="card-body">
                        @if (edition.Type == Readerpath.Entities.Type.PaperBook)
                        {
                            <h5 class="card-title">Książka papierowa</h5>
                        }
                        else if (edition.Type == Readerpath.Entities.Type.Ebook)
                        {
                            <h5 class="card-title">Ebook</h5>
                        }
                        else
                        {
                            <h5 class="card-title">Audiobook</h5>
                        }
                        <h6 class="card-subtitle mb-2 text-muted">@edition.Name</h6>
                        @if (edition.Name == null)
                        {
                            <h6 class="card-subtitle mb-2 text-muted">Brak wydawcy</h6>
                        }
                    </div>
                    <ul class="list-group list-group-flush">
                        @if (edition.Type == Readerpath.Entities.Type.PaperBook || edition.Type == Readerpath.Entities.Type.Ebook)
                        {
                            if(edition.Pages == null || edition.Pages == 0)
                            {
                                <li class="list-group-item">Liczba stron: nie podano</li>
                            }
                            else
                            {
                                <li class="list-group-item">Liczba stron: @edition.Pages</li>
                            }
                        }
                        else
                        {
                            int startTime = edition.Duration ?? 0;
                            string minutes = (startTime % 60).ToString().PadLeft(2, '0');
                            int hours = startTime / 60;
                            if(hours == 0 && minutes == "00")
                            {
                                <li class="list-group-item">Czas trwania: nie podano</li>
                            }
                            else
                            {
                                <li class="list-group-item">Czas trwania: @hours:@minutes</li>                                
                            }
                        }

                    </ul>
                    <div class="card-body text-center">
                        <a class="btn btn-primary w-100" asp-action="AddToMyBooks" asp-route-bookId="@Model.Id" asp-route-editionId="@edition.Id">Dodaj do moich książek</a>
                        @if(edition.AddedBy == edition.User)
                        {
                            <a class="btn btn-primary w-100 mt-2" asp-action="UpdateEdition" asp-route-editionId="@edition.Id">Edytuj wydanie</a>                      
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="text-center">
    <h2>Przeczytano</h2>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Forma</th>
            <th scope="col">Wydawnictwo</th>
            <th scope="col">Rozpoczęto</th>
            <th scope="col">Ukończono</th>
            <th scope="col">Ocena</th>
        </tr>
    </thead>
    <tbody>
        @foreach(ActionModel item in Model.Actions)
        {
            DateTime startDate = (DateTime)item.StartDate;
            string finishDateString = "";
            string type = "";
            string publisher = "";
            if (item.FinishDate != null)
            {
                DateTime finishDate = (DateTime)item.FinishDate;
                finishDateString = finishDate.ToString("dd.MM.yyyy");
            }

            if(item.Type == "PaperBook")
            {
                type = "Książka papierowa";   
            }
            else
            {
                type = item.Type;
            }

            if(item.Publisher == null)
            {
                publisher = "Nie podano";
            }
            else
            {
                publisher = item.Publisher;
            }

            <tr>
                <th scope="row">@row</th>
                <td>@type</td>
                <td>@publisher</td>
                <td>@startDate.ToString("dd.MM.yyyy")</td>
                <td>@finishDateString</td>
                <td>@item.Rating</td>
            </tr>
            row++;           
        }
    </tbody>
</table>

                      