@model FinishMonthModel
@{
    int row = 1;
}
<div class="text-center mt-3">
    <h2>Zakończ miesiąc @Model.month / @Model.year</h2>
</div>

<div class="text-center">
    <h4>Wybierz najlepszą książkę tego miesiąca!</h4>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tytuł</th>
            <th scope="col">Ocena</th>
            <th scope="col">Wybierz</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ReadBook book in Model.ReadBooks)
        {
            <tr>
                <th scope="row">@row</th>
                <td>@book.BookTitle</td>
                <td>@book.Rating</td>
                <td>
                    <button class="btn btn-primary" onclick="highlightRow(this, 'bestBookActionId', '@book.BookActionId')">Wybierz</button>
                </td>
            </tr>
            row++;
        }
    </tbody>
</table>

<div class="text-center">
    <h4>Wybierz najgorszą książkę tego miesiąca!</h4>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tytuł</th>
            <th scope="col">Ocena</th>
            <th scope="col">Wybierz</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ReadBook book in Model.ReadBooks)
        {
            <tr>
                <th scope="row">@row</th>
                <td>@book.BookTitle</td>
                <td>@book.Rating</td>
                <td>
                    <button class="btn btn-primary" onclick="highlightRow(this, 'worstBookActionId', '@book.BookActionId')">Wybierz</button>
                </td>
            </tr>
            row++;
        }
    </tbody>
</table>

<form id="finishMonthForm" method="post" asp-controller="Authorized" asp-action="FinishMonthPost">
    <input type="hidden" id="bestBookActionId" name="bestId" value="" />
    <input type="hidden" id="worstBookActionId" name="worstId" value="" />
    <input type="hidden" id="month" name="month" value="@Model.month" />
    <input type="hidden" id="year" name="year" value="@Model.year" />
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary btn-lg mx-2" onclick="saveSelection()">Zapisz</button>
        <a asp-controller="Authorized" asp-action="LoggedIndex" class="btn btn-primary btn-lg mx-2">Anuluj</a>
    </div>
</form>

<div id="myModal" class="modal">
    <div class="modal-content">
        <p id="modalMessage"></p>
        <span class="close btn btn-primary modal-ok-button" onclick="closeModal()">OK</span>
    </div>
</div>

<script>
    function highlightRow(button, inputId, bookActionId) {
        var row = button.closest("tr");
        var table = row.closest("table");
        var rows = table.getElementsByTagName("tr");

        for (var i = 0; i < rows.length; i++) {
            rows[i].classList.remove("highlight");
        }

        row.classList.add("highlight");
        document.getElementById(inputId).value = bookActionId;
    }

    function saveSelection() {
        var bestBookActionId = document.getElementById("bestBookActionId").value;
        var worstBookActionId = document.getElementById("worstBookActionId").value;

        if (bestBookActionId && worstBookActionId) {
            document.getElementById("finishMonthForm").submit();
        } else {
            var modal = document.getElementById("myModal");
            var modalMessage = document.getElementById("modalMessage");

            modalMessage.textContent = "Wybierz najlepszą i najgorszą książkę tego miesiąca!";
            modal.style.display = "block";
        }
    }

    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
    }
</script>

<style>
    .highlight {
        background-color: #488f1f;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 400px;
    }



    .modal-ok-button {
        margin-top: 10px;
    }
</style>
