
@model UpdateEditionViewModel

@{
	int valueForLength;
	int durationH = 0;
	int durationM = 0;

	if(Model.Edition.Type == Readerpath.Entities.Type.Ebook || Model.Edition.Type == Readerpath.Entities.Type.PaperBook)
	{
		valueForLength = Model.Edition.Pages ?? 0;
	}
	else
	{
		int tempDuration = Model.Edition.Duration ?? 0;
		if(tempDuration != 0)
		{
			durationM = tempDuration % 60;
			durationH = tempDuration/60;
		}
		valueForLength = 0;
	}

	string publisherName;
	if(Model.Edition.Publisher != null)
	{
		publisherName = Model.Edition.Publisher.Name;
	}
	else
	{
		publisherName = "";
	}
}

<div class="row form-group mb-3 d-flex align-items-center justify-content-center align-content-center text-center flex-column">
	<div class="col-md-4">
		<form action="/Authorized/UpdateEdition" method="post">
			<h3>@Model.Title - edycja wydania</h3>

			<div class="form-group mb-3">
				<label for="Type"><b>Rodzaj</b></label>
				<select class="form-control" id="Type" name="Type">
					<option selected="@(Model.Edition.Type == Readerpath.Entities.Type.PaperBook)">Książka papierowa</option>
					<option selected="@(Model.Edition.Type == Readerpath.Entities.Type.Ebook)">Ebook</option>
					<option selected="@(Model.Edition.Type == Readerpath.Entities.Type.Audiobook)">Audiobook</option>
				</select>
			</div>

			<div class="form-group mb-3 d-flex align-items-center justify-content-center align-content-center text-center flex-column">
				<label class="control-label control-label-text" for="Publisher"><b>Wydawnictwo</b></label>
				<datalist id="publisher">
					@foreach (var publisher in Model.PublisherList)
					{
						<option>@publisher.Name</option>
					}
				</datalist>
				<input class="form-control form-text-input" autocomplete="on" list="publisher" type="text" id="Publisher" name="Publisher" value="@publisherName"/>
			</div>

			<div id="pages" class="form-group mb-3">
				<label for="Pages"><b>Ilość stron</b></label>
				<input class="form-control" type="text" id="Pages" name="Pages" value="@valueForLength">
			</div>

			<div class="d-flex">
				<div id="durationH" class="form-group mb-3 d-none" style="width: 50%;">
					<label for="DurationH"><b>Godziny</b></label>
					<input class="form-control" type="number" id="DurationH" name="DurationH" value="@durationH">
				</div>
				<div id="durationColon" class="d-none d-flex align-items-center mx-2">
					<h3>:</h3>
				</div>
				<div id="durationM" class="form-group mb-3 d-none" style="width: 50%;">
					<label for="DurationM"><b>Minuty</b></label>
					<input class="form-control" type="number" id="DurationM" name="DurationM" value="@durationM">
				</div>
			</div>

			<input type="hidden" name="BookId" value="@Model.BookId">
			<input type="hidden" name="editionId" value="@Model.Edition.Id">

			<input type="submit" value="Utwórz" class="btn btn-primary" />
			<a asp-action="BookDetails" asp-route-id="@Model.BookId" class="btn btn-primary">Anuluj</a>
		</form>
	</div>
</div>


<script>
	document.addEventListener("DOMContentLoaded", function () {
		const typeSelect = document.getElementById("Type");
		const pagesDiv = document.getElementById("pages");
		const durationHDiv = document.getElementById("durationH");
		const durationMDiv = document.getElementById("durationM");
		const durationColon = document.getElementById("durationColon");

		function handleTypeChange() {
			if (typeSelect.value === "Książka papierowa" || typeSelect.value === "Ebook") {
				pagesDiv.classList.remove("d-none");
			} else {
				pagesDiv.classList.add("d-none");
			}

			if (typeSelect.value === "Audiobook") {
				durationHDiv.classList.remove("d-none");
				durationMDiv.classList.remove("d-none");
				durationColon.classList.remove("d-none");
			} else {
				durationHDiv.classList.add("d-none");
				durationMDiv.classList.add("d-none");
				durationColon.classList.add("d-none");
			}
		}

		typeSelect.addEventListener("change", handleTypeChange);

		// Wywołanie funkcji po wczytaniu strony
		handleTypeChange();
	});
</script>
